
.body{
    background-color: #f5f5f5;
}

.maintext{
    margin-left: 7%;
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;

}
.bigtext{
    
    font-size:40px;
    font-weight: 700;
    margin-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.smalltext{
    
    font-size: 16px;
    font-weight: 300;
    width:600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.picture{
    width: 360px;
    height: 470px;
    border:1px solid grey;
    margin-left: 60%;
    margin-top: -25%;
    background-image: url("./assets/CV_template.png") ;
    background-size:contain;
    margin-right: 0%;
    
}

img{
    object-fit: fill;
    margin-right: 0%;
    
}

.smalltext .bigbutton{
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-size: 40px;
    font-weight:600;
    border:none;
    cursor: pointer;
    background-color:#2D68FE ;
    color:white;
    margin-top: 5%;
    
}
.offer{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:lighter;
    margin-right: 0%;
    
    
}

.offer ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    
    
  }
  
 .offer ul li::before {
    content: "\2022";
    color:#2D68FE;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    margin-right: 0%;
    margin-left: 7%;
  }
  .offer ul li{
    padding-top: 10px;
    margin-right: 0%;
    
  }
p.stylefortitles{
    border-bottom: 1px solid rgba(45, 104, 254, 0.899);
    width:400px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 24px;
    margin-left: 7%;
    
  }
  
.offer .whydescr{
    
    padding-bottom: 20px;
    margin-right: 0%;
    margin-left: 7%;
    
}
.offer .howdescr{
    
    margin-right: 0%;
    margin-left: 7%;
    
}
  .offer .whydescr li{
    list-style: none;
    padding-top: 15px ;
    margin-right: 0%;
  }
  .offer .howdescr li{
    list-style: none;
    padding-top:15px;
    margin-right: 0%;
    margin-bottom:10% ;
  }
  

.offer .howdescr .animation ul li{
    float:left;
    margin-left: 2%;
}

.animation{
    margin-left: 40%;
    margin-top: -20%;
    list-style: none;
}



.animation .smallbutton{
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    font-weight:600;
    border:none;
    cursor: pointer;
    background-color:#2D68FE ;
    color:white;
    margin-top: 10%;
    
  }
.offer .animation ul li::before {
    content: "\2022";
    color:rgb(45, 104, 254,0);
    display: inline-block; 
    width: 0;
    list-style: none;
    margin-left: -1em;
    margin-right: 0%;
    margin-left: 7%;
  }
