*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100%;
}





.Template .profile_top_button{
    border-radius: 0.6rem;
    padding: 0.7rem 1rem;;
    border:none;
    cursor: pointer;
    background-color:#2D68FE ;
    color:white;
    margin-top: 0%;
    margin-left:2%;
    font-size: 14px;

}


.FirstTab{
    margin-top: 5%;
    align-items: center;
    margin-left: 15%;
    
}
object.First{
    align-items: center;
}

hr {
    height: 1px;
    background-color: rgb(127, 140, 141);
    margin: 0
}
.section {
    margin-top: 2%;
    background-color: white;
    margin-right: 2%;
    border: 1px solid gray;
    width: 85%;
    margin-bottom:30px;

    }
    
    .item {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 0%;
    display: inline-block;
    padding: 10px;
    
    }
    
    .rating {
    display:flex;
    align-items:center;
    }
    
    
    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        }
        
    /* Style the image inside the centered container, if needed */
    .centered img {
    width: 150px;
    border-radius: 50%;
    }
    
    
    .light {
        background-color: gainsboro;
    }
    
    .dark {
        background-color: lightgray;
    }
    
    .lightRed {
        background-color: lightcoral;
    }
    
    .darkRed {
        background-color: orangered;
    }
    
    .firstBracket {
        color: green;
    }
    
    .secondBracket {
        color: orange;
    }
    
    .thirdBracket {
        color: red;
    }
    
    .label {
       margin-right: 0%;
        width: 100%;
        text-align: center;
        
    }
    
    .ratingNumber {
        margin: 3px
    }
    
    .maxRating {
        color: rgb(127, 140, 141);
        
    }