/* Remove browser defaults */
* {
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.Tabs {
    /* width: 80%; */
    height: 100%;
    background:white;
    display: flex;
    flex-direction: column;
    /* margin: 3.5rem auto 1.5rem; */
    padding: 1em;
  padding-bottom: 10%;
    /* color: #E8F0F2; */
   
    @media (max-width: 769px) {
        padding: 2rem 0;
    }
}  

.outlet {
  flex-grow: 1;
  padding-bottom: 5px;
  overflow: scroll;
  height: 100%;
}

ul.nav {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid grey ;
  border-radius: 5px;
  padding-left: 0px;
  margin: 5px 0;
  @media (max-width: 768px) {
    width: 90%;
  
  }
}
ul.nav li {
  width: 50%;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-radius: 0;
  
}

ul.nav li:hover {
  background:#2D68FE ;
}
ul.nav li.active {
  background: #2D68FE;
}

label {
  margin-bottom: 1%;
  margin-left: 3%;
  display: block
}

input {
  margin-left: 2%;
  margin-top: 2%;
  display: inline-block;
}

.section {
  width: 95%;
}

.item {
  margin-left: 2%;
  width: 50%;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
p.item{
  width: 100%;
}
.rating {
  display:flex;
  align-items:center;
}

/* Split the screen in half */
.split {
  /*background-color: bisque;*/
  height: 100%;
  width: 50%;
  position: fixed;
  margin-top: 5%;
  overflow-x: hidden;
  
}

.bar {
  height: 100%;
  width: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  }

/* Control the left side */
.left {
  border-right: 2px solid #2d68fe94 ;
  background-color:white;
  max-height: 95%;
  
}

/* Control the right side */
.right {
  right: 0;
  border-radius: 1px;

height: 100%;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
width: 150px;
border-radius: 50%;
}

.light {
  background-color: gainsboro;
}

.dark {
  background-color: lightgray;
}

.lightRed {
  background-color: lightcoral;
}

.darkRed {
  background-color: red;
}

.firstBracket {
    color: green;
}

.secondBracket {
    color: orange;
}

.thirdBracket {
    color: red;
}

.label {
    margin: auto;
    width: 200px;
    text-align: center; 
}

.ratingNumber {
    margin: 3px;
    
    
}

.maxRating {
    color: rgb(127, 140, 141);
}

hr {
    height: 1px;
    margin: 0
}

.keywords {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

p{
  width:100%;
}
