.item {
    margin-left: 2%;
    width: 50%;
    display: inline-block;
    padding: 10px;
}

.rating {
    display:flex;
    align-items:center;
}

.light {
    background-color: gainsboro;
}

.dark {
    background-color: lightgray;
}

.section {
    background-color: whitesmoke;
    border-top: 1px solid gray;
}
