black==22.10.0
numpy==1.21.6
Flask==2.2.2
pymongo==3.12.0
Python-dotenv==0.21.0
Flask-Cors==3.0.10
Flasgger==0.9.5
Pydantic==1.9.0
pymongo[srv]
gensim==4.2.0
pandas==1.3.5
google-cloud-storage
scispacy==0.5.1
spacy==3.4.2
